<main class="flex-grow p-6  ">
  <header class="flex items-center justify-between mb-6">
    <h1 class="text-3xl font-bold text-gray-800">Dashboard</h1>
  </header>

  <!-- Statistics Cards -->
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-6">
    <div class="bg-white p-6 rounded-xl shadow-md flex items-center hover:shadow-xl transition duration-300">
      <div class="p-4 bg-blue-500 text-white rounded-full">
        <i class="fas fa-database text-xl"></i>
      </div>
      <div class="ml-4">
        <h2 class="text-xl font-semibold text-gray-700">Databases</h2>
        <p class="text-gray-600 text-lg">15</p>
      </div>
    </div>
    <div class="bg-white p-6 rounded-xl shadow-md flex items-center hover:shadow-xl transition duration-300">
      <div class="p-4 bg-green-500 text-white rounded-full">
        <i class="fas fa-table text-xl"></i>
      </div>
      <div class="ml-4">
        <h2 class="text-xl font-semibold text-gray-700">Tables</h2>
        <p class="text-gray-600 text-lg">120</p>
      </div>
    </div>
    <div class="bg-white p-6 rounded-xl shadow-md flex items-center hover:shadow-xl transition duration-300">
      <div class="p-4 bg-yellow-500 text-white rounded-full">
        <i class="fas fa-users text-xl"></i>
      </div>
      <div class="ml-4">
        <h2 class="text-xl font-semibold text-gray-700">Users</h2>
        <p class="text-gray-600 text-lg">45</p>
      </div>
    </div>
    <div class="bg-white p-6 rounded-xl shadow-md flex items-center hover:shadow-xl transition duration-300">
      <div class="p-4 bg-red-500 text-white rounded-full">
        <i class="fas fa-cogs text-xl"></i>
      </div>
      <div class="ml-4">
        <h2 class="text-xl font-semibold text-gray-700">Settings</h2>
        <p class="text-gray-600 text-lg">5</p>
      </div>
    </div>
  </div>

  <!-- Performance Charts -->
  <div class="bg-white rounded-xl shadow-md p-6 mb-8">
    <h2 class="text-2xl font-bold mb-4 text-gray-800">Performance Dashboard</h2>
    <div class="flex justify-between items-center mb-4">
      <div class="flex gap-2">
        <input type="text" [(ngModel)]="sqlIdFilter" placeholder="Filter by SQL ID" (input)="fetchAwrChartData()" class="input input-bordered input-sm" />
        <input type="text" [(ngModel)]="eventFilter" placeholder="Filter by Event" (input)="fetchASHChartData()" class="input input-bordered input-sm" />
      </div>

      <div class="flex justify-end gap-4">
        <button (click)="downloadAwrReport()" class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-xl text-sm">
          Download AWR
        </button>
        <button (click)="downloadAshReport()" class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-xl text-sm">
          Download ASH
        </button>
      </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div class="p-4 bg-white rounded-xl shadow">
        <canvas id="cpuChart"></canvas>
      </div>
      <div  class="p-4 bg-white rounded-xl shadow">
        <canvas id="memoryChart"></canvas>
      </div>
      <div class="p-4 bg-white rounded-xl shadow">
        <canvas id="ioChart"></canvas>
      </div>
      <div class="col-span-2 p-4 bg-white rounded-xl shadow ">
        <h2 class=" font-semibold text-gray-700">AWR</h2>
        <canvas id="awrChart"></canvas>
      </div>
      <div class="col-span-1 p-4 bg-white rounded-xl shadow ">
        <h2 class="  font-semibold text-gray-700">ASH</h2>
        <canvas id="ashChart"></canvas>
      </div>

    </div>
  </div>


  <!-- AWR Report Table -->
  <div class="bg-white rounded-xl shadow-md p-6 mb-8">
    <h2 class="text-2xl font-bold mb-4 text-gray-800">AWR Report</h2>
    <div *ngIf="awrReport.length > 0" class="overflow-x-auto">
      <table class="table table-zebra w-full">
        <thead class="bg-gray-100">
        <tr class="text-gray-700">
          <th class="py-3 text-left">Snapshot ID</th>
          <th class="py-3 text-left">Start Time</th>
          <th class="py-3 text-left">End Time</th>
          <th class="py-3 text-left">SQL ID</th>
          <th class="py-3 text-left">Executions</th>
          <th class="py-3 text-left">Elapsed Time</th>
          <th class="py-3 text-left">CPU Time</th>
          <th class="py-3 text-left">Buffer Gets</th>
          <th class="py-3 text-left">Disk Reads</th>
          <th class="py-3 text-left">Rows Processed</th>
          <th class="py-3 text-left">Plan Hash Value</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of pagedAwrReport" class="hover:bg-gray-50">
          <td class="py-2 text-left">{{ row.snapshotId }}</td>
          <td class="py-2 text-left">{{ row.startTime }}</td>
          <td class="py-2 text-left">{{ row.endTime }}</td>
          <td class="py-2 text-left">{{ row.sqlId }}</td>
          <td class="py-2 text-left">{{ row.executions }}</td>
          <td class="py-2 text-left">{{ row.elapsedTime }}</td>
          <td class="py-2 text-left">{{ row.cpuTime }}</td>
          <td class="py-2 text-left">{{ row.bufferGets }}</td>
          <td class="py-2 text-left">{{ row.diskReads }}</td>
          <td class="py-2 text-left">{{ row.rowsProcessed }}</td>
          <td class="py-2 text-left">{{ row.planHashValue }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <p *ngIf="awrReport.length === 0" class="mt-4 text-gray-600">No AWR data found.</p>
    <div *ngIf="awrReport.length > 0" class="flex justify-end mt-4">
      <div class="join">
        <button class="join-item btn" [disabled]="currentPageAwr === 0" (click)="previousPageAwr()">«</button>
        <button class="join-item btn" [disabled]="true">Page {{ currentPageAwr + 1}} of {{ totalPagesAwr}}</button>
        <button class="join-item btn" [disabled]="currentPageAwr >= totalPagesAwr -1 " (click)="nextPageAwr()">»</button>
      </div>
    </div>
  </div>

  <!-- ASH Report Table -->
  <div class="bg-white rounded-xl shadow-md p-6">
    <h2 class="text-2xl font-bold mb-4 text-gray-800">ASH Report</h2>
    <div *ngIf="ashReport.length > 0" class="overflow-x-auto">
      <table class="table table-zebra w-full">
        <thead class="bg-gray-100">
        <tr class="text-gray-700">
          <th class="py-3 text-left">Session ID</th>
          <th class="py-3 text-left">Event</th>
          <th class="py-3 text-left">Wait Class</th>
          <th class="py-3 text-left">Sample Time</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ash of pagedAshReport" class="hover:bg-gray-50">
          <td class="py-2 text-left">{{ ash.sessionId }}</td>
          <td class="py-2 text-left">{{ ash.event }}</td>
          <td class="py-2 text-left">{{ ash.waitClass }}</td>
          <td class="py-2 text-left">{{ ash.sampleTime }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <p *ngIf="ashReport.length === 0" class="mt-4 text-gray-600">No ASH data found.</p>
    <div *ngIf="ashReport.length > 0" class="flex justify-end mt-4">
      <div class="join">
        <button class="join-item btn" [disabled]="currentPageAsh === 0" (click)="previousPageAsh()">«</button>
        <button class="join-item btn" [disabled]="true">Page {{ currentPageAsh + 1}} of {{ totalPagesAsh}}</button>
        <button class="join-item btn" [disabled]="currentPageAsh >= totalPagesAsh -1 " (click)="nextPageAsh()">»</button>
      </div>
    </div>
  </div>
</main>
