<div class="p-6">
  <h2 class="text-2xl font-bold mb-4">Users</h2>

  <button (click)="openCreateModal()" class="btn btn-primary mb-4">
    Add User
  </button>

  <button (click)="openCreateRoleModal()" class="btn btn-secondary mb-4 ml-2">
    Add Role
  </button>
  <button (click)="openEditRoleModal()" class="btn btn-secondary mb-4 ml-2">
    Show Roles
  </button>

  <!-- User Modal  -->
  <dialog #userModal id="userModal" class="modal">
    <div class="modal-box">
      <h3 class="text-xl font-bold mb-4">
        {{selectedUser.id ? 'Edit User' : 'Create New User'}}
      </h3>
      <div class="mb-4">
        <label for="username" class="block text-gray-700 text-sm font-bold mb-2"
        >Username</label
        >
        <input
          type="text"
          id="username"
          class="input input-bordered w-full "
          [(ngModel)]="selectedUser.username"
        />
      </div>
      <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-2"
        >Password</label
        >
        <input
          type="password"
          id="password"
          class="input input-bordered w-full "
          [(ngModel)]="selectedUser.password"
        />
      </div>
      <div class="mb-4">
        <label
          for="defaultTablespace"
          class="block text-gray-700 text-sm font-bold mb-2"
        >Default Tablespace</label
        >
        <input
          type="text"
          id="defaultTablespace"
          class="input input-bordered w-full "
          [(ngModel)]="selectedUser.defaultTablespace"
        />
      </div>
      <div class="mb-4">
        <label
          for="temporaryTablespace"
          class="block text-gray-700 text-sm font-bold mb-2"
        >Temporary Tablespace</label
        >
        <input
          type="text"
          id="temporaryTablespace"
          class="input input-bordered w-full "
          [(ngModel)]="selectedUser.temporaryTablespace"
        />
      </div>
      <div class="mb-4">
        <label for="profile" class="block text-gray-700 text-sm font-bold mb-2"
        >Profile</label
        >
        <input
          type="text"
          id="profile"
          class="input input-bordered w-full "
          [(ngModel)]="selectedUser.profile"
        />
      </div>
      <div class="mb-4">
        <label for="quota" class="block text-gray-700 text-sm font-bold mb-2"
        >Quota</label
        >
        <input
          type="text"
          id="quota"
          class="input input-bordered w-full "
          [(ngModel)]="selectedUser.quota"
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">
          Account Locked
        </label>
        <input type="checkbox" class="toggle" [(ngModel)]="selectedUser.accountLocked" />
      </div>
      <div class="flex justify-end">
        <button
          (click)="selectedUser.id ? updateUser() : createUser()"
          class="btn btn-primary mr-2"
        >
          {{selectedUser.id ? 'Update' : 'Create'}}
        </button>
        <button (click)="closeModal()" class="btn btn-ghost">Cancel</button>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>

  <!-- Role Modal  -->
  <dialog #roleModal id="roleModal" class="modal z-[10]">
    <div class="modal-box">
      <h3 class="text-xl font-bold mb-4">Create New Role</h3>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2"
        >Role Name</label
        >
        <input
          type="text"
          class="input input-bordered w-full "
          [(ngModel)]="newRole.roleName"
        />
      </div>

      <div class="flex justify-end">
        <button (click)="createRole()" class="btn btn-primary mr-2">
          Create Role
        </button>
        <button (click)="closeRoleModal()" class="btn btn-ghost">Cancel</button>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <!-- Edit Role Modal  -->
  <dialog #editRoleModal id="editRoleModal" class="modal">
    <div class="modal-box">
      <h3 class="text-xl font-bold mb-4">Edit Roles</h3>
      <div class="overflow-x-auto">
        <table class="table w-full">
          <thead>
          <tr class="bg-gray-100">
            <th
              class="text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Role Name
            </th>
            <th
              class="text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
            >
              Actions
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let role of roles" class="border-b border-gray-200">
            <td class="text-sm">{{ role.role }}</td>
            <td class="text-sm">
              <button
                (click)="openEditRolePrivilegesModal(role)"
                class="btn btn-sm btn-warning mr-1"
              >
                Edit
              </button>
              <button
                (click)="dropRole(role.role)"
                class="btn btn-sm btn-error"
              >
                Delete
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="flex justify-end">
        <button (click)="closeEditRoleModal()" class="btn btn-ghost">
          Cancel
        </button>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <!-- Edit role Privileges Modal  -->
  <dialog #editRolePrivilegeModal id="editRolePrivilegeModal" class="modal">
    <div class="modal-box">
      <h3 class="text-xl font-bold mb-4">Edit Role Privileges</h3>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2"
        >Role Name</label
        >
        <input
          type="text"
          class="input input-bordered w-full "
          [(ngModel)]="selectedRoleToEdit.roleName"
          disabled
        />
      </div>
      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">Privileges (comma-separated)</label>
        <input type="text" class="input input-bordered w-full "
               [(ngModel)]="selectedRoleToEdit.privileges"/>
      </div>

      <div class="flex justify-end">
        <button (click)="updateRolePrivileges()" class="btn btn-primary mr-2">
          Update
        </button>
        <button (click)="closeEditRolePrivilegesModal()" class="btn btn-ghost">
          Cancel
        </button>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>

  <!-- Assign Role Modal  -->
  <dialog #assignRoleModal id="assignRoleModal" class="modal ">
    <div class="modal-box">
      <h3 class="text-xl font-bold mb-4">Roles for User : {{selectedUser.username}}</h3>
      <div class="mb-4 flex">
        <div class="w-1/2 pr-2">
          <label class="block text-gray-700 text-sm font-bold mb-2">Current Privileges</label>
          <div *ngIf="selectedUser.userPrivileges && selectedUser.userPrivileges.length > 0">
            <div *ngFor="let privilege of selectedUser.userPrivileges">
              <span class="badge badge-ghost mr-1 ">{{ privilege }}</span>
            </div>
          </div>
          <div *ngIf="!(selectedUser.userPrivileges && selectedUser.userPrivileges.length > 0)">
            <span class="text-gray-500">No Privileges assigned</span>
          </div>
        </div>
        <div class="w-1/2 pl-2">
          <label class="block text-gray-700 text-sm font-bold mb-2">Current Roles</label>
          <div *ngIf="selectedUserRoles && selectedUserRoles.length > 0">
            <div *ngFor="let role of selectedUserRoles">
                              <span class="badge badge-secondary mr-1 flex items-center" >
                                  {{ role.GRANTED_ROLE.replace('C##', '') }}
                                <button class="btn btn-sm btn-circle btn-ghost ml-1" (click)="revokeRole(selectedUser, role.GRANTED_ROLE)">
                                       <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
                                  </button>
                              </span>
            </div>
          </div>
          <div *ngIf="!(selectedUserRoles && selectedUserRoles.length > 0)">
            <span class="text-gray-500">No Roles assigned</span>
          </div>
        </div>
      </div>

      <div class="mb-4">
        <label class="block text-gray-700 text-sm font-bold mb-2">
          Select Role
        </label>
        <select class="select select-bordered w-full "
                [(ngModel)]="selectedUserRole">
          <option value="">Select Role</option>
          <option *ngFor="let role of roles" [value]="role.role"
          >{{role.role}}</option>
        </select>
      </div>
      <div class="flex justify-end">
        <button (click)="assignRole()" class="btn btn-primary mr-2">
          Assign Role
        </button>
        <button (click)="closeAssignRoleModal()" class="btn btn-ghost">Cancel</button>
      </div>
    </div>
    <form method="dialog" class="modal-backdrop">
      <button>close</button>
    </form>
  </dialog>
  <div class="overflow-x-auto">
    <table class="table w-full">
      <thead>
      <tr class="bg-gray-100">
        <th
          class="text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
        >
          ID
        </th>
        <th
          class="text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
        >
          Username
        </th>

        <th
          class="text-left text-xs font-semibold text-gray-600 uppercase tracking-wider"
        >
          Actions
        </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users" class="border-b border-gray-200">
        <td class="text-sm">{{ user.id }}</td>
        <td class="text-sm">{{ user.username }}</td>
        <td class="text-sm">
          <button (click)="openAssignRoleModal(user)" class="btn btn-sm btn-primary mr-1">
            Roles
          </button>
          <button (click)="openEditModal(user)" class="btn btn-sm btn-warning mr-1">
            Edit
          </button>
          <button (click)="deleteUser(user.id!)" class="btn btn-sm btn-error">
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
